
@{
    ViewBag.Title = "kafedra";
}

<main>
    <section class="hero">
        <div class="container">
            <div class="main-message">
                <h1>Silkway-ге</h1>
                <h3>Қош келдіңіз</h3>
            </div>
        </div>
    </section>

    <section class="begin-adventure">
        <div class="container">
            <div class="title-heading">
                <h1>Біздің оқытушылар қүрамасы</h1>
            </div>
            <div class="adventure-grid">
                <div class="adventure-grid-item">
                    <img src="~/1.0.0.0/images/teacher/1.JPG" alt="">
                </div>
                <div class="adventure-grid-item">
                    <h1>Жидебаева Азиза Нышанбаевна</h1>
                    <p>
                        Техника ғылымдарының кандидаты
                        <br>
                        <strong>Қызметі</strong>
                        <br>
                        «Информатика және математика» кафедрасының меңгерушісі<br>
                        aziza_68.kz@mail.ru <br>
                        <strong>Пәндері</strong><br>
                        Бағалаудың өлшемдік технологиялары,<br>
                        Математиканы оқыту әдістемесі,<br>
                        Математиканы жаңартылған бағдарламамен оқыту әдістемесі<br>
                    </p>
                </div>

                <div class="adventure-grid-item">
                    <h1>Жолшиева Альмира Зұлпыхарқызы</h1>
                    <p>
                        Білімі: 1999-2003 г.г. Х.А.Ясави атындағы Қазақ-түрік университеті.
                        <br>
                        <strong>Қызметі</strong><br>
                        аға оқытушы
                        <br>
                        <strong>Пәндері</strong><br>
                        Математическая логика и дискретная математика,,<br>
                        Системы искуственного интелекта,<br>
                        Программалау тілдері<br>
                    </p>
                </div>
                <div class="adventure-grid-item">
                    <img src="~/1.0.0.0/images/teacher/7.JPG" alt="">
                </div>

                <div class="adventure-grid-item">
                    <img src="~/1.0.0.0/images/teacher/2.JPG" alt="">
                </div>
                <div class="adventure-grid-item">
                    <h1>Умаров Аман Тулепбергенович</h1>
                    <p>
                        к.п.н.,аға оқытушы
                        <br>
                        <strong>Байланыс желісі:</strong>
                        <br>
                        Б  ғимарат, 206 бөлме<br>
                        Жұмыс сымтетігі: 8 (705) 485-03-12 <br>
                    </p>
                </div>

                <div class="adventure-grid-item">
                    <h1>Тюмебекова Ләззат Таукеновна</h1>
                    <p>
                        Магистр
                        <br>
                        <strong>Қызметі</strong>
                        <br>
                        Аға оқытушы<br>
                        Tymebek_lyazzat@mail.ru <br>
                        <strong>Пәндері</strong><br>
                        Информатика теория негіздері,<br>
                        информатика оқыту әдістемесі,
                        қолданбалы програмалар.<br>
                    </p>
                </div>
                <div class="adventure-grid-item">
                    <img src="~/1.0.0.0/images/teacher/3.JPG" alt="">
                </div>

                <div class="adventure-grid-item">
                    <img src="~/1.0.0.0/images/teacher/4.JPG" alt="">
                </div>
                <div class="adventure-grid-item">
                    <h1>Баймешова Айдана Нұрғалиқызы</h1>
                    <p>
                        Магистр, оқытушы
                        <br>
                        <strong>Байланыс желісі:</strong>
                        <br>
                        Б  ғимарат, 206 бөлме<br>
                        n.b.aidana_1994@mail.ru <br>
                    </p>
                </div>

                <div class="adventure-grid-item">
                    <h1>Төребай Нұрсәуле Дүйсенбайқызы</h1>
                    <p>
                        Білімі: 2000-2004ж. Қорқыт ата атындағы Қызылорда мемлекеттік университеті.
                        <br>
                        <strong>Қызметі</strong>
                        <br>
                        аға оқытушы<br>
                        ntorebay@mail.ru<br>
                        <strong>Пәндері</strong><br>
                        Аналитикалық геометрия,<br>
                        Математикалық логика және дискретті математика.<br>
                    </p>
                </div>
                <div class="adventure-grid-item">
                    <img src="~/1.0.0.0/images/teacher/6.JPG" alt="">
                </div>

            </div>
        </div>
    </section>
</main>

